@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  background: #009590 linear-gradient(190deg,#0f3460 40%,transparent 70%) top left no-repeat;;
  background-image: url("./hero-bg.svg");
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
